Repository tanmaymittal/cruzcal, pull requests merged in 2022-05, with the labels that each got.

#83 Download calendar endpoint
  backend/api/openapi.json
  backend/package-lock.json
  backend/src/__tests__/app/endpoints.test.js
  backend/src/__tests__/app/mockData.js
  backend/src/__tests__/common.js
  backend/src/calendar.js
  backend/src/routes.js
  backend/static-db.json
Labels: backend

#102 Warning dialog
  backend/static-db.json
  frontend/apps/cruzcal-e2e/src/integration/CourseFilter/CourseFilter.spec.ts
  frontend/apps/cruzcal-e2e/src/integration/CourseSelection/CourseSelection.spec.ts
  frontend/apps/cruzcal-e2e/src/integration/CourseSelectionList/CourseSelectionList.spec.ts
  frontend/apps/cruzcal-e2e/src/integration/SubjectFilter/SubjectFilter.spec.ts
  frontend/apps/cruzcal-e2e/src/integration/TermFilter/TermFilter.spec.ts
  frontend/apps/cruzcal-e2e/src/integration/warning-dialog/warning-dialog.spec.ts
  frontend/apps/cruzcal/app/course-selection/CourseFilter.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelection.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelectionList.tsx
  frontend/apps/cruzcal/app/course-selection/SubjectFilter.tsx
  frontend/apps/cruzcal/app/course-selection/TermFilter.tsx
  frontend/apps/cruzcal/app/select-list/select-list.tsx
  frontend/apps/cruzcal/app/warning-dialog/warning-dialog.spec.tsx
  frontend/apps/cruzcal/app/warning-dialog/warning-dialog.stories.tsx
  frontend/apps/cruzcal/app/warning-dialog/warning-dialog.tsx
  frontend/apps/cruzcal/atoms/warnings.ts
  frontend/apps/cruzcal/pages/index.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#112 Term warning dialog
  frontend/apps/cruzcal/app/class-info/class-info.stories.tsx
  frontend/apps/cruzcal/app/class-info/class-info.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelectionList.tsx
  frontend/apps/cruzcal/app/drop-down/drop-down.spec.tsx
  frontend/apps/cruzcal/app/drop-down/drop-down.stories.tsx
  frontend/apps/cruzcal/app/drop-down/drop-down.tsx
  frontend/apps/cruzcal/app/info-box/info-box.module.css
  frontend/apps/cruzcal/app/info-box/info-box.spec.tsx
  frontend/apps/cruzcal/app/info-box/info-box.tsx
  frontend/apps/cruzcal/app/toggle-switch/toggle-switch.module.css
  frontend/apps/cruzcal/app/toggle-switch/toggle-switch.spec.tsx
  frontend/apps/cruzcal/app/toggle-switch/toggle-switch.tsx
  frontend/apps/cruzcal/app/warning-dialog/warning-dialog.spec.tsx
  frontend/apps/cruzcal/pages/index.tsx
Labels: enhancement, frontend

#127 Switch SelectList to Combobox
  frontend/apps/cruzcal/app/combobox-select/combobox-select.module.css
  frontend/apps/cruzcal/app/combobox-select/combobox-select.spec.tsx
  frontend/apps/cruzcal/app/combobox-select/combobox-select.tsx
  frontend/apps/cruzcal/app/course-selection/CSFilters.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelectionList.tsx
  frontend/apps/cruzcal/app/header/header.tsx
  frontend/apps/cruzcal/app/info-box/info-box.tsx
  frontend/apps/cruzcal/app/information-pane/information-pane.module.css
  frontend/apps/cruzcal/app/information-pane/information-pane.spec.tsx
  frontend/apps/cruzcal/app/information-pane/information-pane.tsx
  frontend/apps/cruzcal/app/online-classes-dialog/online-classes-dialog.module.css
  frontend/apps/cruzcal/app/online-classes-dialog/online-classes-dialog.spec.tsx
  frontend/apps/cruzcal/app/online-classes-dialog/online-classes-dialog.tsx
  frontend/apps/cruzcal/app/select-list/select-list.tsx
  frontend/apps/cruzcal/app/user-header/UserHeader.tsx
  frontend/apps/cruzcal/atoms/online-classes.ts
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, frontend

#130 Google Calendar API integration
  backend/package-lock.json
  backend/src/__tests__/app/app.test.js
  backend/src/__tests__/app/calendar.test.js
  backend/src/__tests__/app/endpoints.test.js
  backend/src/__tests__/common.js
  backend/src/__tests__/db/CourseInfo.test.js
  backend/src/__tests__/db/Term.test.js
  backend/src/__tests__/db/connection.test.js
  backend/src/__tests__/test-db.js
  backend/src/app.js
  backend/src/calendar.js
  backend/src/routes.js
  backend/src/utils.js
Labels: backend

#129 Pablo/component testing
  frontend/.eslintrc.json
  frontend/apps/cruzcal/app/combobox-select/combobox-select.spec.tsx
  frontend/apps/cruzcal/app/combobox-select/combobox-select.tsx
  frontend/apps/cruzcal/app/course-selection/CSFilters.spec.tsx
  frontend/apps/cruzcal/app/course-selection/CSFilters.tsx
  frontend/apps/cruzcal/app/course-selection/CourseFilter.stories.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelection.spec.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelection.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelectionList.spec.tsx
  frontend/apps/cruzcal/app/course-selection/CourseSelectionList.tsx
  frontend/apps/cruzcal/app/course-selection/SubjectFilter.stories.tsx
  frontend/apps/cruzcal/app/course-selection/TermFilter.stories.tsx
  frontend/apps/cruzcal/app/info-box/info-box.spec.tsx
  frontend/apps/cruzcal/atoms/user.ts
  frontend/apps/cruzcal/jest.config.js
  frontend/apps/cruzcal/jest.setup.ts
  frontend/apps/cruzcal/mocks/data.ts
  frontend/apps/cruzcal/mocks/server-handlers.js
  frontend/apps/cruzcal/mocks/server.js
  frontend/apps/cruzcal/tsconfig.json
  frontend/package.json
Labels: frontend
